<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Searcher | PB TestTask</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/search}" method="get">
    <h1>Search</h1>
    <br/>
    <input type="text" th:name="q" th:value="${query}" required="required" th:placeholder="'Searching for'"/>
    <button type="submit">Search</button>
</form>

<br/>

<th:block th:if="${results != null}">
    <h3>Search results</h3>
    <br/>
    <div th:if="${results.totalPages > 0}" style="display: inline-block">
        <a th:if="${!results.isFirst()}" th:href="@{/search(q=${query}, page=(${results.previousPageable().getPageNumber()}+1), size=10)}">
            &larr;
        </a>

        <div th:each="pageNumber : ${pageNumbers}" style="display: inline-block">
            <a th:href="@{/search(q=${query}, page=(${pageNumber}), size=10)}"
               th:text="${pageNumber}">
            </a>
        </div>

        <a th:if="${!results.isLast()}" th:href="@{/search(q=${query}, page=(${results.nextPageable().getPageNumber()}+1), size=10)}">
            &rarr;
        </a>
    </div>
    <br/>
    <th:block th:each="result, iter: ${results}">
        <div style="padding: 8px;">
            <a th:target="_blank"
               th:href="${result.getUri()}" style="text-decoration: none; font: 15px serif;">
                <span style="color: blue; font-weight: bold" th:text="${result.getTitle()}"></span>
                <br/>
                <span style="color: olivedrab" th:text="${result.getUri()}"></span>
            </a>
        </div>
    </th:block>
</th:block>
</body>
</html>